[submodule "Assets/Lib/UnityDebugExtensions"]
	path = Assets/Lib/UnityDebugExtensions
	url = git@github.com:Reccy/UnityDebugExtensions.git
[submodule "Assets/Lib/UnityScriptExtensions"]
	path = Assets/Lib/UnityScriptExtensions
	url = git@github.com:Reccy/UnityScriptExtensions.git
[submodule "Assets/Lib/UnityBezierCurve"]
	path = Assets/Lib/UnityBezierCurve
	url = git@github.com:Reccy/UnityBezierCurve.git
